<h3>
    {{ leyenda }} - {{ porcentaje }}
</h3>

<div class="input-group">
    <div class="input-group-prepend">
        <button (click)="cambiarValor(-5)"
                [ngClass]= "btnClass"
                type="button"> 
            <i class="fa fa-minus"></i>
        </button>
    </div>

    <input #txtProgress
           type="number" 
           class="form-control" 
           [ngClass]="{'is-invalid': porcentaje > 100 || porcentaje < 0 }"
           name="porcentaje" 
           [(ngModel)]="porcentaje" 
           (ngModelChange)="onChange($event)"
           min="0" 
           max="100"
    >

    <div class="input-group-append">
        <button (click)="cambiarValor(+5)"
                [ngClass]= "btnClass" 
                type="button">
            <i class="fa fa-plus"></i>
        </button>
     
    </div>
</div>
