<div class="row">
    <div class="col-5">
        <div class="card">
            <div class="card-body">

                <h4 class=card-title>TEMAS</h4>
                <hr>
                <div class="r-panel-body">
                    <ul id="themecolors" class="m-t-20">
                        <li><b>Con el sidebar claro</b></li>
                        <li><a #temadefault (click)="cambiarColor('default', temadefault)" data-theme="default" class="selector default-theme">1</a></li>
                        <li><a #temagreen (click)="cambiarColor('green', temagreen)" data-theme="green" class="selector green-theme">2</a></li>
                        <li><a #temared (click)="cambiarColor('red', temared)" data-theme="red" class="selector red-theme">3</a></li>
                        <li><a #temablue (click)="cambiarColor('blue', temablue)" data-theme="blue" class="selector blue-theme">4</a></li>
                        <li><a #temapurple (click)="cambiarColor('purple', temapurple)" data-theme="purple" class="selector purple-theme">5</a></li>
                        <li><a #temamegna (click)="cambiarColor('megna', temamegna)" data-theme="megna" class="selector megna-theme">6</a></li>
                        
                        <li class="d-block m-t-30"><b>Con el sidebar oscuro</b></li>
                        <li><a #temadefaultdark (click)="cambiarColor('default-dark', temadefaultdark)" data-theme="default-dark" class="selector default-dark-theme">7</a></li>
                        <li><a #temagreendark (click)="cambiarColor('green-dark', temagreendark)" data-theme="green-dark" class="selector green-dark-theme">8</a></li>
                        <li><a #temareddark (click)="cambiarColor('red-dark', temareddark)" data-theme="red-dark" class="selector red-dark-theme">9</a></li>
                        <li><a #temabluedark (click)="cambiarColor('blue-dark', temabluedark)" data-theme="blue-dark" class="selector blue-dark-theme">10</a></li>
                        <li><a #temapurpledark (click)="cambiarColor('purple-dark', temapurpledark)" data-theme="purple-dark" class="selector purple-dark-theme">11</a></li>
                        <li><a #temamegnadark (click)="cambiarColor('megna-dark', temamegnadark)" data-theme="megna-dark" class="selector megna-dark-theme">12</a></li>
                    </ul>
                
                </div>

            </div>
        </div>
    </div>
</div>

